body {
  margin: 0px 0px 0px 0px;
}
header {
  display: flex;
  background-color: white;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  margin: 0px 0px 0px 0px;
}

header div.logo {
  flex-grow: 3;
}

header div.logo a{
  text-decoration: none;
  font-size: 46px;
  color: black;
}

header nav.nav_menu {
  flex-grow: 7;
  display: flex;
  justify-content: flex-end;
}

header nav.nav_menu ul {
  display: flex;
  padding: 0px;
  align-items: center;
}

header nav.nav_menu li {
  list-style-type: none;
  margin-left: 20px;
  padding: 5px;
  height: fit-content;
}

header nav.nav_menu li a {
  text-decoration: none;
  color: black;
}

body .site_frame {
  margin-right: 10%;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

li.active {
  background-color: DimGrey;
}

header nav.nav_menu li.active a {
  color: #F8F8FF;
}

.post_page {
  padding:30px 20%;
  max-width: 210mm;
}

.post_title, .post_author {
  text-align: center;
}

.post_author {
  font-weight: normal;
}

footer {
  height: 25vh;
  display: flex;
  justify-content: center;
}

footer .back_to_top {
  font-family: Impact, fantasy;
  font-size: 50px;
}

footer .bttbtn {
  display: flex;
  height: fit-content;
}

footer .bttbtn a {
  text-decoration: none;
  color: black;
  text-align: center;
  width: 80px;
}

.tag_cloud {
  align-self: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 30px 5px;
  max-width: 30%;
}

.tag_cloud a {
  text-decoration: none;
  color: black;
}

.tag_cloud .tag {
  background-color: lightgrey;
  padding: 5px;
}

.artclGrd {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.artclGrd a {
  display: flex;
  color: black;
  text-decoration: none;
  width: 31%;
  max-height: 132px;
  overflow: hidden;
}

.artclCrd {
  padding: 15px;
  background-color: lightgrey;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .post_page {
    padding:10px 10%;
  }
}

@media screen and (max-width: 800px) {

  header {
    display: flex;
    background-color: white;
    flex-direction: column;
    padding: 0px;
    padding-top: 25px;
    margin: 0px 0px 0px 0px;
  }
  
  header div.logo {
    flex-grow: 1;
    text-align: center;
  }

  header div.logo_text {
    white-space: nowrap;
  }
  
  header div.logo a{
    text-decoration: none;
    font-size: 46px;
    color: black;
  }

  header nav.nav_menu {
    flex-grow: 7;
    display: flex;
    justify-content: center;
  }
  
  header nav.nav_menu ul {
    display: flex;
  }
  
  header nav.nav_menu li {
    list-style-type: none;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
  }
  
  .post_page {
    padding:10px 5%;
  }

  body .site_frame {
    margin-right: 5%;
    margin-left: 5%;
  }

  .tag_cloud {
    max-width: 90%;
  }

  .artclGrd a {
    width: 47%;
  }

  footer {
    height: 15vh;
  }
}

.artclCrd h2 {
  margin-top: 0px;
}

