body {
  margin: 0px 0px 0px 0px;
}
header {
  display: flex;
  background-color: white;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  margin: 0px 0px 0px 0px;
}

header div.logo {
  flex-grow: 3;
}

header div.logo a{
  text-decoration: none;
  font-size: 46px;
  color: black;
}

header nav.nav_menu {
  flex-grow: 7;
  display: flex;
  justify-content: flex-end;
}

header nav.nav_menu ul {
  display: flex;
}

header nav.nav_menu li {
  list-style-type: none;
  margin-left: 20px;
}
header nav.nav_menu li a {
  text-decoration: none;
  color: black;
}

body .site_frame {
  margin-right: 10%;
  margin-left: 10%;
}
