
@font-face {
  font-family: "Computer Modern";
  src: url('https://cdn.jsdelivr.net/gh/aaaakshat/cm-web-fonts@latest/fonts.css');
}

* {
  font-family: "Computer Modern", sans-serif;
}

body {
  margin: 0px 0px 0px 0px;
}
header {
  display: flex;
  background-color: white;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  margin: 0px 0px 0px 0px;
}

header div.logo {
  flex-grow: 3;
}

header div.logo a{
  text-decoration: none;
  font-size: 46px;
  color: black;
}

header nav.nav_menu {
  flex-grow: 7;
  display: flex;
  justify-content: flex-end;
}

header nav.nav_menu ul {
  display: flex;
}

header nav.nav_menu li {
  list-style-type: none;
  margin-left: 20px;
  padding: 5px;
}

header nav.nav_menu li a {
  text-decoration: none;
  color: black;
}

body .site_frame {
  margin-right: 10%;
  margin-left: 10%;
}

li.active {
  background-color: DimGrey;
}

header nav.nav_menu li.active a {
  color: #F8F8FF;
}

.post_page {
  padding: 10px;
}

.post_title, .post_author {
  text-align: center;
}

