body {
  margin: 0px 0px 0px 0px;
}
header {
  display: flex;
  background-color: rgb(100, 100, 100);
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  margin: 0px 0px 0px 0px;
}

header div.logo {
  flex-grow: 3;
}

header nav.nav_menu {
  flex-grow: 7;
}

header nav.nav_menu li {
  list-style-type: none;
}
