body {
  margin: 0px 0px 0px 0px;
}
header {
  display: flex;
  background-color: white;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  margin: 0px 0px 0px 0px;
}

header div.logo {
  flex-grow: 3;
}

header div.logo a{
  text-decoration: none;
  font-size: 46px;
  color: black;
}

header nav.nav_menu {
  flex-grow: 7;
  display: flex;
  justify-content: flex-end;
}

header nav.nav_menu ul {
  display: flex;
  padding: 0px;
}

header nav.nav_menu li {
  list-style-type: none;
  margin-left: 20px;
  padding: 5px;
}

header nav.nav_menu li a {
  text-decoration: none;
  color: black;
}

body .site_frame {
  margin-right: 10%;
  margin-left: 10%;
  display: flex;
  justify-content: center;
}

li.active {
  background-color: DimGrey;
}

header nav.nav_menu li.active a {
  color: #F8F8FF;
}

.post_page {
  padding:30px 20%;
  max-width: 210mm;
}

.post_title, .post_author {
  text-align: center;
}

.post_author {
  font-weight: normal;
}

footer {
  height: 50vh;
  display: flex;
  justify-content: center;
}

footer .back_to_top {
  font-family: Impact, fantasy;
  font-size: 50px;
}

footer .bttbtn {
  display: flex;
  height: fit-content;
}

footer .bttbtn a {
  text-decoration: none;
  color: black;
  text-align: center;
  width: 80px;
}

@media screen and (max-width: 800px) {

  header {
    display: flex;
    background-color: white;
    flex-direction: column;
    padding: 0px;
    margin: 0px 0px 0px 0px;
  }
  
  header div.logo {
    flex-grow: 1;
    text-align: center;
  }

  header div.logo_text {
    white-space: nowrap;
  }
  
  header div.logo a{
    text-decoration: none;
    font-size: 46px;
    color: black;
  }

  header nav.nav_menu {
    flex-grow: 7;
    display: flex;
    justify-content: center;
  }
  
  header nav.nav_menu ul {
    display: flex;
  }
  
  header nav.nav_menu li {
    list-style-type: none;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
  }
  
  .post_page {
    padding:10px 5%;
  }

  body .site_frame {
    margin-right: 5%;
    margin-left: 5%;
  }
}


